body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #4682b4;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

header h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}

.intro {
    text-align: center;
}

.intro img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.biography h2, .books h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: #4682b4;
    margin-bottom: 1rem;
}

.biography p, .books p {
    margin-bottom: 1rem;
    text-align: justify;
}

.card {
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}
.card-img {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #4682b4;
    color: white;
    margin-top: 2rem;
}
